html {
    background-color: #c9b6b3;
    font-family: sans-serif;
}

html.dark {
    background-color: #312f36;
    color: #fff;
}

.title hr {
    border-color: black;
}

.dark .title hr {
    border-color: white;
} 

.reading {
    color: #1f1e1e;
}

.dark .reading {
    color: #bbbbbb;
}

.dark .nav-links a {
    color: #fff;
}

.dark .text-gray-800 {
    color: #edc7c7;
}

.dark .text-gray-600 {
    color: #edc7c7;
}

.dark .text-black {
    color: #fff;
}

.dark .text-gray-500 {
    color: #edc7c7;
}


/*Markdown x CSS*/

.dark .markdown-content {
    color: white;
}

.dark .title h1 {
    color: #bab3b3;
}

.dark .markdown-content h2 {
    color: #bab3b3;
}

.dark .markdown-content th {
    color: #bab3b3;
}

.markdown-content li::marker {
    color: black;
}

.dark .markdown-content li::marker {
    color: #bab3b3;
}

.dark .markdown-content a {
    color: #bab3b3;
}

.dark .date {
    color: #edc7c7;
}

/* Tags */

.tag-button {
    width: 90px;
    height: 30px;
    background-color: #c9b6b3;
    color: rgb(50, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Makes each div circular */
    font-size: 1.2rem;
    border-color: rgb(146, 143, 143);
    border-style: solid;
    border-width: 1px;
  }

  .tag-button:hover {
    color: rgb(212, 212, 212);
    background-color: #857775;
  }

.dark .tag-button {
    background-color: #312f36;
    color: rgb(186, 185, 185);
}

.dark .tag-button:hover {
    color: white;
    background-color: #4e4c55;
}

/*Trips x CSS*/

.travel-box ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
    justify-content: space-between;
    gap: 1px;
}

.travel-box li {
    width: 30%;
    height: 75px;
    outline: 1px solid;
    background-color: white;
    color: black;
    position: relative;
    text-align: center;
    border-radius: 25px;
    transition: box-shadow 0.3s ease; 
    transition: transform .3s;
}

.travel-box li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), /* Horizontal and vertical offset, blur radius, and color */
                0 6px 20px rgba(0, 0, 0, 0.19); 
    transform: scale(1.2); 
}

.travel-box h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.dark .travel-box li:hover {
    box-shadow: 0 4px 8px rgb(122, 121, 121), /* Horizontal and vertical offset, blur radius, and color */
                0 6px 20px rgb(122, 121, 121); 
}

.cv-picture {
    float:left;
    margin: 5px 20px 10px 0px;
    padding: 0px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

/* About page */

.dark .cv-picture {
    border-color: white;
}

.img__description {
    position: relative;
    background: white;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    border-radius: 10px;
    margin-left: 150px;
    width: 300px;
}
  
.img__wrap:hover .img__description {
visibility: hidden;
opacity: 0.5;
}

.cv-description {
    margin-right: 0px;
}

.cv-description-1 {
    margin-top: -50px;
    margin-bottom: 40px;
}

.cv-description-3 {
    margin-top: 40px;
    margin-left: 0px;
}