---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="About Me">
	<p>Hi ! I'm Hugo, a french student currently working on my double degree at Polytechnique Montreal.</p>
	<p>I really have no idea what I'm doing with this blog or what I'm going to put on it. But it keeps me busy on nights when I don't know what to do... Maybe </p>
	<p>By the way I use Astro to build this website. All my posts are written in Markdown and the site is hosted on GitHub Pages.</p>
</BaseLayout>
