---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="">
	<p>Hi there!</p>
	<p>I'm not going to lie I have no idea what I'm doing with this blog and I don't even know if it has a future. I just didn't know what to do in July 2024 and so I started this project. I'm going to put in whatever comes to mind (and there's a lot). </p>
	<p>I'll let you have a look!</p>
</BaseLayout>
