---
const today = new Date();
---

<footer class="flex flex-row justify-between text-xs my-14">
	&copy; {today.getFullYear()} - Hugo Mouton
	<div class="social-links flex gap-4">
		<a class="flex items-center" href="https://github.com/UnMoutonPerdu" target="_blank">GitHub
			<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
				<path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6">
				</path>
				<polyline points="15 3 21 3 21 9">
				</polyline>
				<line x1="10" y1="14" x2="21" y2="3">
				</line>
			</svg>
		</a>
		<a class="flex items-center" href="https://www.linkedin.com/in/hugo-mouton-/" target="_blank">LinkedIn
			<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
				<path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6">
				</path>
				<polyline points="15 3 21 3 21 9">
				</polyline>
				<line x1="10" y1="14" x2="21" y2="3">
				</line>
			</svg>
		</a>
	</div>
</footer>
